.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}
body{
  margin:0;
  padding:0;
}
.header{
  background: #141f40;
  height:100px;
  width:400px;
}
.left{
  background: #80bfa8;
  height:250px;
  width:150px;
  float: left;
}
.right{
  background: #8c2727;
  height:250px;
  width:250px;
  float: left;
}
.footer{
  background: #d98d30;
  height:100px;
  width:400px;
}